<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
</head>
<body>
<h1>Create Post</h1>
<form id="postForm" action="/create" method="post" target="postFrame">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" required><br><br>

    <label for="content">Content:</label><br>
    <textarea id="content" name="content" required></textarea><br><br>

    <label for="category">Category:</label><br>
    <input type="text" id="category" name="category" required><br><br>

    <button type="submit">Create</button>
</form>
<iframe name="postFrame" style="display: none;"></iframe>
<h1>All Posts</h1>

<div th:if="${not #lists.isEmpty(posts)}">
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Category</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <td th:text="${post.title}"></td>
            <td th:text="${post.content}"></td>
            <td th:text="${post.category}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${#lists.isEmpty(posts)}">
    <p>No posts available.</p>
</div>

<div id="postsContainer">
    <!-- Will refactor as react when I've learned react -->
</div>

</script>
</body>
</html>